# Godot ignores
.godot/
.import/
export.cfg
export_presets.cfg
/android/build

# Misc
*.blend1
*.tmp
**/.DS_Store
.bin

/CookingGame.apk
/CookingGame.dmg
/CookingGame.pck
/CookingGame.x86_64
/libgodotopenxrvendors.so

/BurgerBox.apk
/BurgerBox.dmg
/BurgerBox.pck
/BurgerBox.x86_86
/BurgerBox.exe

/Assets/Videos/*.avi
